<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="A1-01 TestNG Demo"
       parallel="methods"
       thread-count="3"
       verbose="1">

    <test name="Transfer Automation">
        <classes>
            <class name="br.edu.idp.stsw.testngdemo.TransferServiceTest"/>
            <class name="br.edu.idp.stsw.testngdemo.TransferWorkflowTest"/>
            <class name="br.edu.idp.stsw.testngdemo.ParallelExecutionTest"/>
        </classes>
    </test>

</suite>
